<div class='go-back'>
    <a @onclick="GoBack">
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.0008 4.00156V9.00156C16.0008 9.26677 15.8954 9.52113 15.7079 9.70866C15.5204 9.8962 15.266 10.0016 15.0008 10.0016C14.7356 10.0016 14.4812 9.8962 14.2937 9.70866C14.1061 9.52113 14.0008 9.26677 14.0008 9.00156V5.00156H3.41479L4.70779 6.29456C4.88995 6.48316 4.99074 6.73576 4.98846 6.99796C4.98618 7.26015 4.88101 7.51097 4.69561 7.69637C4.5102 7.88178 4.25939 7.98695 3.99719 7.98923C3.73499 7.99151 3.48239 7.89071 3.29379 7.70856L0.293788 4.70856C0.200661 4.61566 0.126775 4.50531 0.0763624 4.38382C0.0259495 4.26233 0 4.13209 0 4.00056C0 3.86902 0.0259495 3.73878 0.0763624 3.61729C0.126775 3.4958 0.200661 3.38545 0.293788 3.29256L3.29379 0.292556C3.48156 0.105048 3.73613 -0.000187286 4.00149 2.50222e-07C4.26686 0.000187787 4.52128 0.105783 4.70879 0.293556C4.8963 0.481329 5.00153 0.735899 5.00134 1.00126C5.00116 1.26663 4.89556 1.52105 4.70779 1.70856L3.41479 3.00156H15.0008C15.266 3.00156 15.5204 3.10691 15.7079 3.29445C15.8954 3.48199 16.0008 3.73634 16.0008 4.00156Z" fill="#636363" />
        </svg>
    </a>
    <h1 class='fw-bold fs-regular'>@Text</h1>
</div>

<div class='mb-400'></div>

@code {
    [Parameter] public required string Text { get; set; }

    [Inject] private IJSRuntime Js { get; set; } = null!;

    private async void GoBack()
    {
        await Js.InvokeVoidAsync("history.back");
    }
}
