<div class='alert'>

</div>

@code {

    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public EventCallback OnCancelClick { get; set; }
    [Parameter] public EventCallback OnConfirmClick { get; set; }
}