@using Yearly.MauiClient.Services

<p class='fw-semi-bold fs-regular color-secondary'>
    @AuthService.UserDetailsLazy.Username <span class='fw-regular fs-small'>@string.Join(", ", AuthService.UserDetailsLazy.Roles.Select(r => $"{r.RoleCode}."))</span>
</p>

@code {

    [Inject] private AuthService AuthService { get; set; } = null!;
}
