.page {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    /*background-color: var(--back);*/
    background: brown;
}

main {
    flex: 1;
}

.navmenu {
    position: absolute;
    z-index: 100;

    bottom: 0;
    padding: 0;

    width: 100%;
}