@inherits LayoutComponentBase

<div class="page bg-white">
    <main>
        @Body
        <div style='margin-top: 4rem'></div> @* Navbar margin, same as Navbar height *@
    </main>
    
    <NavigationBar/>
</div>
