@page "/Development"
<OnlyInDevelopment>
    <HxListGroup>
        <HxListGroupItem>
            <h3>Database</h3>
            <HxButton OnClick='DbReset' Color='ThemeColor.Primary'>Db Reset</HxButton>
        </HxListGroupItem>
    </HxListGroup>
</OnlyInDevelopment>

