@page "/"

<PageTitle>Home</PageTitle>

<link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-c77408be8058.css">
<div id="gist128336616" class="gist">
    <div class="gist-file" translate="no">
        <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
                <div id="file-seminary_primirestsharp-readme-min-md" class="file my-2">
                    <div id="file-seminary_primirestsharp-readme-min-md-readme" class="Box-body readme blob js-code-block-container p-5 p-xl-6 ">
                        <article class="markdown-body entry-content container-lg" itemprop="text">
                            <p align="center" dir="auto">
                                <a href="https://github.com/Xopabyteh/Seminary_PrimirestSharp">
                                    <img src="https://raw.githubusercontent.com/Xopabyteh/Seminary_PrimirestSharp/master/Inkscape/AppIcons/logo_bubble_path.svg" style="max-width: 100%;">
                                </a>
                            </p>
                            <h3 align="center" dir="auto"><a id="user-content-finally-food-ordering-with-images" class="anchor" aria-hidden="true" tabindex="-1" href="#finally-food-ordering-with-images"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>Finally food ordering with images</h3>
                            <hr>
                            <h2 dir="auto"><a id="user-content-about" class="anchor" aria-hidden="true" tabindex="-1" href="#about"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>About</h2>
                            <p dir="auto">
                                The project acts as a wrapper application around the <a href="https://www.mujprimirest.cz/" rel="nofollow">Primirest</a> system + with additional features.
                                The main bonus is the ability of users of this application to take photos of their ordered foods
                                so that everyone else ordering it can see it.
                            </p>
                            <p dir="auto">The project is split into two parts - a custom backend wrapper api and a frontend Maui app.</p>
                            <p dir="auto">
                                This is my Seminary work for mensa gymnázium <code>Sexta 2023 - Septima 2025</code>.
                                The project is built with clean architecture and some DDD concepts in mind.
                                But i am the only one working on the project and i am my own domain expert,
                                so i'm just using portions of DDD.
                            </p>
                            <h2 dir="auto"><a id="user-content-docs" class="anchor" aria-hidden="true" tabindex="-1" href="#docs"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>Docs</h2>
                            <p dir="auto">Most of the docs are made with figma available at the links below. Some docs can be found in project folders specific to that layer of the application.</p>
                            <ul dir="auto">
                                <li><a href="https://www.figma.com/file/K7Y98Sp4qY1c6XDhdkm9wV/Unleashed-Dine-Maui?type=design&amp;node-id=0-1&amp;mode=design&amp;t=rVnyGwpnEonobXKa-0" rel="nofollow">Design files</a></li>
                            </ul>
                            <blockquote>
                                <p dir="auto">UI and app design</p>
                            </blockquote>
                            <ul dir="auto">
                                <li><a href="https://www.figma.com/file/FuD7lmST0Ar9oFFZS6Jlt3/Unleashed-Diner-Flow?type=whiteboard&amp;node-id=907-53&amp;t=iEvTKeGkVjXp1MAQ-0" rel="nofollow">Project architecture</a></li>
                            </ul>
                            <blockquote>
                                <p dir="auto">Project architecture, domain models, implementations</p>
                            </blockquote>
                            <ul dir="auto">
                                <li><a href="https://www.figma.com/file/iXr6mEJRbgFyzvCq5Mynn4/Primirest-sharp-Flow?type=design&amp;node-id=39-52344&amp;mode=design&amp;t=98IKJbIVTUfWHq9b-0" rel="nofollow">Process modeling</a></li>
                            </ul>
                            <blockquote>
                                <p dir="auto">Process modeling, domain events storming</p>
                            </blockquote>
                        </article>
                    </div>

                </div>
            </div>

        </div>
        <div class="gist-meta">
            <a href="https://gist.github.com/Xopabyteh/de919621f249a0586f33c9c15507beea/raw/c71379593184e6f0e4abf29afe79d2a6dc18112d/Seminary_PrimirestSharp-README-min.md" style="float:right" class="Link--inTextBlock">view raw</a>
            <a href="https://gist.github.com/Xopabyteh/de919621f249a0586f33c9c15507beea#file-seminary_primirestsharp-readme-min-md" class="Link--inTextBlock">
                Seminary_PrimirestSharp-README-min.md
            </a>
            hosted with ❤ by <a class="Link--inTextBlock" href="https://github.com">GitHub</a>
        </div>
    </div>
</div>