@page "/my-photos"
@layout SingleFullFlexLayout

<GoBackButton Text='Moje fotky'/>

@if (firstLoadFinished)
{
    <section class='wrapper'>
        <h1 class='fs-large'><span class='rainbow'>@totalPhotoCount</span> @PhotosTextOnlyGrammar()</h1>
        <UsernameWithTitles/>
        <br/>
        <div class='photos-grid' style='--photos-count: @totalPhotoCount' @ref="photosGridRef">
            @foreach (var photo in displayedPhotos)
            {
                <img src='@photo.ThumbnailResourceLink'/>
            }
            @if (loadingMorePhotos)
            {
                <Loader DotColor='var(--clr-primary)'/>
            }
        </div>
    </section>
}
else
{
    <Loader DotColor='var(--clr-primary)'/>
}