.container {
    flex: 1;

    display: grid;
    justify-items: center;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    gap: 1rem;
}

.photo-holder {
    position: relative;

    width: 100%;
    max-width: 256px;
    aspect-ratio: 1/1;
}

    .photo-holder path {
        fill: var(--clr-primary);
    }
    .photo {
        width: 100%;
        height: 100%;

        object-fit: cover;
        border-radius: 16px;
        border-bottom-right-radius: 0;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    }

    .photo__overlay {
        padding: 0.5rem;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;

        border-top-left-radius: 16px;
    }


    .photo__placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;

        border-radius: 16px;
        border: dashed 1px var(--clr-secondary);
    }
        .photo__placeholder svg {
            height: 46px;
            width: auto;
        }

.card-holder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}
.card {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem;

    border-radius: 0.25rem;

    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
/*
.card:has(input[type="radio"]:checked) {
    scale: 1.01;
}*/

    .card p {
        color: var(--clr-secondary);

        transition: color 0.2s ease-in-out;
    }

    .card:has(input[type="radio"]:checked) p {
        color: var(--clr-primary);
    }

::deep input[type="radio"] {
    appearance: none;

    position: relative;
    min-width: 1.5rem;
    /* ReSharper disable once CssNotResolved */
    aspect-ratio: 1/1;

    border: solid 1px var(--clr-secondary);
    border-radius: 50%;


}

    ::deep input[type="radio"]::after {
        content: "";

        display: block;
        position: absolute;

        top: 50%;
        left: 50%;

        width: 0;
        height: 0;

        transform: translate(-50%, -50%);
        background-color: var(--clr-primary);

        border-radius: 50%;

        transition: width 0.2s ease-in-out, 
                    height 0.2s ease-in-out;
    }

::deep input[type="radio"]:checked {
    border-color: var(--clr-primary);
}
    ::deep input[type="radio"]:checked::after {
        width: 0.75rem;
        height: 0.75rem;
    }

button {
    width: 128px;
    /*height: 2rem;*/
}

.success-overlay {
    /*Take up entire screen, ignore main page padding*/
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #000000; /*Fallback*/
    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    transition: opacity .5s ease-in-out;

    pointer-events: none;
    user-select: none;
}

    .success-overlay[data-active] {
        opacity: 1;

        pointer-events: all;
    }

.success-modal {
    position: relative;
    top: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-inline: auto;
    padding: 2rem;

    background-color: var(--clr-white);
    box-shadow: 1px 2px 4px 0 #000102; /*Fallback*/
    box-shadow: 1px 2px 4px 0 rgba(0, 1, 2, 0.25);

    border-radius: 1rem;

    width: 280px;
}

    .success-modal[data-active] {
        animation: modal-appear .8s ease-in-out;
    }

    .success-modal[data-fade] {
        animation: modal-disappear .8s ease-in-out;
    }

@keyframes modal-appear {
    0% {
        transform: translateX(-500%) skewX(27deg) scaleX(0.9);
    }

    70% {
        transform: translateX(100px) skewX(0) scaleX(1.2);
    }

    100% {
        transform: translateX(0px) skewX(0) scaleX(1);
    }
}

@keyframes modal-disappear {
    0% {
        transform: translateX(0px) skewX(0) scaleX(1);
    }

    30% {
        transform: translateX(100px) skewX(0) scaleX(.9);
    }

    100% {
        transform: translateX(-500%) skewX(27deg) scaleX(1.2);
    }
}