@page "/photo"
@using Yearly.MauiClient.Services
@using Yearly.Contracts.Menu
@layout SingleFullPageFlex

<GoBackButton Text='Přidat Fotku'/>

<div class='container mt-400'>
    <div class='photos'>
        <img class='photo__big' src='https://picsum.photos/256/256' />
        <div class='photo__thumbnail'>
            <p class='color-secondary fs-small fw-regular'>Náhledovka</p>
            <img src='https://picsum.photos/256/256' width='108' height='108' />
        </div>
    </div>
    @* <EditForm Model=''> *@  
    <div class='card-holder'>
        @if (todayMenu is not null)
        {
            <InputRadioGroup @bind-Value='selectedFoodId'>
                @foreach (var food in todayMenu!.Foods)
                {
                    <div class='card bg-accent'>
                        <InputRadio Value='1'/>
                        <p>@food.Name</p>
                    </div>
                }
            </InputRadioGroup>
        }
    </div>
    <button class='button bg-success'>Poslat</button>
    @* </EditForm> *@
</div>


@code {
    [Inject] private MenuAndOrderCacheService MenuAndOrderCacheService { get; set; } = null!;

    private int selectedFoodId;
    private DailyMenuDTO? todayMenu;
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        //Get todays daily menu
        // var today = DateTime.Now.Date;
        var today = new DateTime(2024, 1, 3);
        var availableMenus = await MenuAndOrderCacheService.AvailableMenusCachedAsync();

        todayMenu = availableMenus
            .SelectMany(wM => wM.DailyMenus)
            .SingleOrDefault(d => d.Date.Date == today);

        if (todayMenu is null)
        {
            //Todo:
        }

        StateHasChanged();
    }

}
