@inherits LayoutComponentBase

@* <HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost /> *@

<div class="d-md-flex min-vh-100 container-xxl mt-4">
    <div class="main p-4 flex-grow-1 overflow-hidden">
        @Body
    </div>
</div>