@using Yearly.Contracts.Authentication
<HxSidebar CssClass="sticky-top">
    <HeaderTemplate>
        <HxSidebarBrand BrandName="Primirest#">
            <LogoTemplate>
                <img src="/svg/logo_bubble.svg" width="32" class="mx-1" />
            </LogoTemplate>
        </HxSidebarBrand>
    </HeaderTemplate>

    <ItemsTemplate>
        <AuthorizedView RequiredRoles='new[] {UserRoleDTO.Admin}'>
            <HxSidebarItem Text="Hangfire dashboard" Href="/hangfire" Match="NavLinkMatch.All" Icon="BootstrapIcon.Fire"/>
        </AuthorizedView>
        <AuthorizedView RequiredRoles='new [] {UserRoleDTO.PhotoApprover}'>
            <HxSidebarItem Text="Photos" Href="/PhotosPage" Match="NavLinkMatch.All" Icon="BootstrapIcon.Image" />
        </AuthorizedView>
    </ItemsTemplate>

     <FooterTemplate>
         @if (_sessionDetails.IsAuthenticated)
        {
            <div class="login-display d-flex align-items-center w-100 p-3">
                <span class="login-display-nickname mx-3">@_sessionDetails.UserDetails!.Value.Username</span>
                <div class="ms-auto">
                    <HxContextMenu>
                        <HxContextMenuItem Text="Odhlásit" OnClick='BeginLogout' />
                    </HxContextMenu>
                </div>
            </div>
        }
        else
         {
            <HxSidebarFooter Href="/login" Icon="BootstrapIcon.Person" Text="@(context.SidebarCollapsed ? null : "Login")" />
         }
     </FooterTemplate>
 </HxSidebar>
 
                
