@page "/dev"
@layout NoMenuLayout

<GoBackButton Text='Dev'/>
<section>
    <h2>Auth</h2>
    <button class='button bg-danger color-white' @onclick="RemoveSession">Remove session</button>
</section>
<section>
    <h2>Order checker</h2>
    <p class='capsule bg-primary color-white'>@orderCheckerStatus</p>
    <button class='button bg-success color-white' @onclick="StartOrderChecker">Start</button>
    <input id='ordercheckerdelay' type='number' name='Delay millis' placeholder='20000' @bind="orderCheckerStartDelayMillis" />
    <label for='ordercheckerdelay'>Delay millis</label>
    <button class='button bg-danger color-white' @onclick="StopOrderChecker">Stop</button>
    <button class='button bg-danger color-white' @onclick="UpdateStatusOrderChecker">Get status</button>
</section>


