@page "/dev"
@layout NoMenuLayout

<GoBackButton Text='Dev'/>
<section>
    <h2>Auth</h2>
    <button class='button bg-danger color-white' @onclick="RemoveSession">Remove session</button>
</section>
<section>
    <h2>Order checker</h2>
    <p class='capsule bg-primary color-white'>See state in logcat</p>
    <button class='button bg-success color-white' @onclick="StartOrderCheckerFS">Start</button>
    <button class='button bg-danger color-white' @onclick="StopOrderCheckerFS">Stop</button>
</section>


